*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #F5F5F5;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #0a0a0a;
    display: flex;
}

.logo{
    display: flex;
    width: 50%;
    height: 70px;
}

.title{
    margin-top: 10px;
    color: #b1b1b1;
    font-size: 2.5rem;
    font-weight: bold;
}

.img{
    margin-top: 5px;
    padding: 5px;
}

.hamburger-menu{
    width: 50%;
    margin-top: 10px;
    margin-right: 10px;
    color: #F5F5F5;
    display: flex;
    justify-content: flex-end;
}

#menu-button{
    font-size: 50px;
}

#menu-button:hover{
    color:#686868;
}

.search{
    display: flex;
    background-color: #474545;
    padding: 10px;
}

.searchbar{
    width: 90%;
    height: 40px; 
    border-radius: 20px;
}

.search-button{
    height: 40px;
    width: 100px;
    border-radius: 30px;
}

.content{
    height: 367px;
    background-color:#0a0a0a;
    background-repeat: no-repeat;
    background-image: url(../img/6.jpg);
    color: antiquewhite;
    padding-top: 100px;
    background-blend-mode:lighten;
    font-size: 14px;
}

img{
    position: relative;
    padding: 10px;
}

.ticket{
    font-size: 14px;
    background-color:  #474545;
    color: white;
    text-align: center;
}

.ticket-title{
    font-size:20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.announcement{
    background-color: #0a0a0a;
}

.announcement-text{
    padding: 12px;
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;

    color: #FFFFFF;
}

.book-now{
    padding: 20px;
}

.book-now-button{
    padding: 20px;
    margin: 0px auto;
    background: rgba(86, 68, 68, 0.4);
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.08px;

    color: #FFFFFF;
    border-radius: 30px;
}

.book-now-button:hover{
    color: rgb(86, 68, 68);
    background-color: white;
}

.footer{
    width: 100%;
    color: white;
    background-color:  #000000;
}

.follow-us-text{
    padding-top: 10px;
    font-size: 26px;
    text-align: center;
}

.follow-us-link{
    font-size: 20px;
    display: flex;
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    padding: 10px 10px;
}

.follow-us-link a{
    color: aliceblue;
}

span{
    padding: 10px;
}

.edit-hr{
    width: 90%;
    margin: 0px auto;
}

.disclaimer{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.about-us{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    letter-spacing: -2px;
}